<% layout('layouts/post-index') -%>
<div class="d-flex justify-content-center register-form">
	<form action="/register" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="username">Username:</label>
			<input class="form-control" type="text" id="username" name="username" placeholder="Your username" value="<%= username %>" required>
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input class="form-control" type="password" id="password" name="password" placeholder="Your password" required>
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input class="form-control" type="email" id="email" name="email" placeholder="Your email" value="<%= email %>" required>
		</div>
		<div class="form-group">
			<label for="image">Image: </label>
			<input type="file" class="form-control-file" id="image">
			<small class="form-text text-muted">If selected, this will be your avatar instead of default one.</small>
		</div>
	
		<input class="btn btn-primary" type="submit" value="Register">
	</form>
</div>