.logo{
	color: #fff;
}
.logo:hover{
	color: #fff;
}
#map {
	width: 100%;
	height: 100%;
}
i{}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.color-green {
	color: green;
}

.color-red {
	color: red;
}

.profile-image {
	width: 100px;
	border-radius: 50%;
}
.register-form{
	margin: 3% 0 5% 0;
}

.login-form{
	margin-top: 3%;
	margin-bottom:8%;
}


